<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mosaic | written in Rust, hosted with Ruby</title>
    <style type="text/css"></style>
  </head>
  <header>
    <a href="/">Главная</a>
  </header>
  <body>
      <%= yield %>
  </body>
</html>
